---
import Header from '../components/Header.astro';
import Layout from '../components/Layout.astro';
---

<Layout title="404 Not found" description="The page you are looking for does not exist.">
    <div class="absolute top-0 right-0 bottom-0 left-0 m-auto flex flex-col items-center justify-center">
        <div class="field flex flex-col items-center p-10">
            <h1 class="text-3xl">404 Not found</h1>
            <h2 class="text-xl">The page you are looking for does not exist.</h2>
        </div>
    </div>
    <Header />
</Layout>
