---
import Layout from '../components/Layout.astro';
import SearchBar from '../components/search/SearchBar';
import Header from '../components/Header.astro';
import UnsplashSource from '../components/UnsplashSource';
---

<Layout title="Home" description="Search for webpages using Atlas Search.">
    <Header />

    <div class="center max-sm:mt-[50%] sm:absolute sm:top-[40%] sm:left-40">
        <SearchBar client:load />
    </div>

    <div class="absolute bottom-3 left-3 max-sm:hidden">
        <div class="rounded-xl bg-neutral-700/75 p-2">
            <a href="/crawl" class="text-blue-400 underline">Add missing webpages</a>
        </div>
    </div>

    <div class="absolute right-3 bottom-3">
        <UnsplashSource client:only />
    </div>
</Layout>
