---
import Layout from '../components/Layout.astro';
import SearchResults from '../components/search/SearchResults';
import InlineSearchBar from '../components/search/InlineSearchBar';
import Header from '../components/Header.astro';
---

<Layout title="Search">
    <Header>
        <span class="w-4"></span>
        <InlineSearchBar client:only />
    </Header>

    <SearchResults client:only />
</Layout>
