---
import Layout from '../components/Layout.astro';
import SearchResults from '../components/search/SearchResults';
import SearchBarWithQuery from '../components/search/SearchBarWithQuery';
import Header from '../components/Header.astro';
---

<Layout title="Search" description='Search for webpages using Atlas Search.'>
    <Header>
        <div class="w-full max-sm:hidden">
            <SearchBarWithQuery client:only />
        </div>
    </Header>

    <div class="sm:hidden">
        <SearchBarWithQuery client:only small={false} />
    </div>

    <SearchResults client:only />
</Layout>
